@model Planner.ViewModels.WorkItemViewModel;
@{
    ViewData["Title"] = "List of Tasks";
}

<h2>@ViewData["Header"]</h2>

<div class="add-more-work-area">
    <p class="text-desc">Add more work</p>
    <script src="~/js/workitem.js">
    </script>
    <div class="text-enter-area">
        <textarea placeholder="Title" class="text-field" id="title_text_field"></textarea>
        <textarea placeholder="Content" class="text-field" id="content_text_field"></textarea>
    </div>
    <button class="button" id="add_more_work_button" onclick="onAdd()">Add</button>
</div>

<div class="list-of-work-item">
    @foreach (var workItem in Model.WorkItems)
    {
        <div class="work-item" id="@workItem.Id">
            <p class="title" id="title-@workItem.Id">@workItem.Title</p>
            <p class="detail" id="detail-@workItem.Id">@workItem.Content</p>
            <div class="options">
                <button class="button" id="@workItem.Id" onclick="onDelete(event.target.id)">Remove</button>
                <button class="button" id="@workItem.Id" onclick="openUpdateTaskMenu(event.target.id)">Update</button>
            </div>
        </div>
    }
</div>

<div class="update-task-area">
</div>